/* Fixando o rodapé ao final da página */
.rodape {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* cor de fundo opcional */
    text-align: center;
    padding: 5px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Ajustes para alinhamento de imagem e texto no rodapé */
.rodape .d-flex {
    display: flex;
    align-items: center;
    justify-content: center; /* centraliza horizontalmente o conteúdo */
}

.rodape h6 {
    display: flex;
    align-items: center;
    margin: 0; /* Remove a margem extra */
}

.rodape h6 img {
    margin-right: 10px; /* Espaçamento entre imagem e texto */
}

.link-social a{

    color: black !important;
    text-decoration: none;
}