@import url('https://fonts.cdnfonts.com/css/uber-move-text');
.header{
    background-image: url('img/sobrinhafrevo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2em;
}

.titulo-banner-painel{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    text-wrap: wrap;
    max-width: 400px;
    font-family: 'Uber Move Text', sans-serif;
}

.titulo-banner{
    color: black;
}

.capitalize {
    text-transform: capitalize;
}
