@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

:root {
    --circulo-altura: 95px;
    --azul-de-olinda: #146aba;
    --amarelo-de-olinda: #ffd04e;
    --circulo-largura: 95px;
    --img-circulo: url('../public/img/igreja.png');
    --img-circulo2: url('../public/img/forte1.png');
    --img-circulo3: url('../public/img/museu.png');
    --img-circulo4: url('../public/img/monumentos.png');
    --body-color: #f0f0f0;
    --tamanho-border-radius: 15%;
    --circulo-altura-mo: 80px;
    --circulo-largura-mo: 130px;
}

*{
    padding: 0;
    margin: 0;
}

#root{
    width: 100%;
    height: 100vh;
}

a {

    color: white;
}

.circulo-text {
    font-weight: bold;
    color: var(--azul-de-olinda);
    background-color: var(--amarelo-de-olinda);
    border-radius: 5px;
    text-align: center;
    width: 115px;
    display: block !important;
  }