.img-uniform {
    height: 273px;
    width: 100%;
    object-fit: cover;
}

.card-uniform {
    min-height: 500px !important; /* Ajuste conforme necessário para padronizar a altura dos cards */
    box-shadow: 4px 4px 5px lightgray;
}

.link-mapa, .saiba-mais{
    color: black;
}

